<template name="admin">
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="border: 20px solid black;color: #ccc">GM</div>
    <div class="col-md-5 text-center" style="border: 20px solid black;background-color: black; color: white;">{{#if Template.subscriptionsReady}}M<span id="gmValue">{{leadingZeros gm.value}}</span>{{else}}...{{/if}}</div>
    <div class="col-md-2">
      <button id="gm-plus" type="button" class="btn btn-success btn-lg btn-block">+</button>
      <button id="gm-minus" type="button" class="btn btn-primary btn-lg btn-block">-</button>
      <button id="gm-reset" type="button" class="btn btn-danger btn-lg btn-block">RESET</button>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="border: 20px solid black; color:#ccc">GS</div>
    <div class="col-md-5 text-center" style="border: 20px solid black;background-color: black; color: white;">{{#if Template.subscriptionsReady}}S{{leadingZeros gs.value}}{{else}}...{{/if}}</div>
    <div class="col-md-2">
      <button id="gs-plus" type="button" class="btn btn-success btn-lg btn-block">+</button>
      <button id="gs-minus" type="button" class="btn btn-primary btn-lg btn-block">-</button>
      <button id="gs-reset" type="button" class="btn btn-danger btn-lg btn-block">RESET</button>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="border: 20px solid black; color:#ccc">Altres</div>
    <div class="col-md-5 text-center" style="border: 20px solid black;background-color: black; color: white;">{{#if Template.subscriptionsReady}}A{{leadingZeros altres.value}}{{else}}...{{/if}}</div>
    <div class="col-md-2">
      <button id="altres-plus" type="button" class="btn btn-success btn-lg btn-block">+</button>
      <button id="altres-minus" type="button" class="btn btn-primary btn-lg btn-block">-</button>
      <button id="altres-reset" type="button" class="btn btn-danger btn-lg btn-block">RESET</button>
    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <span style="font-size: 20px;color:#ccc">Mensaje</span> <input style="width: 800px;" type="text" id="mensaje" value="{{mensaje.value}}"> <button id="mensaje-btn" type="button" class="btn btn-success btn-lg">Enviar</button>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" style="margin-bottom: 200px;">
    <p class="text-right" style="color: #666;font-size: xx-small">Powered by Ismael Trascastro</p>
  </div>
</template>