<template name="counter">
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 60px">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center" style="color:#FFCF30; font-weight: 900;">Ins Les Salines 2017-2018</div>
    <div class="col-md-1"></div>
  </div>


  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="

    -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

    border: 20px solid mediumslateblue; color:mediumslateblue;">
      <div class="row" style="font-size: 81px;padding:28px;font-weight: 900">Grau Mitjà</div>
    </div>
    <div class="col-md-6 text-center" style="

    -webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

    border: 20px solid mediumslateblue;background-color: mediumslateblue; color: white;font-weight: 900">{{#if Template.subscriptionsReady}}M{{leadingZeros gm.value}}{{else}}...{{/if}}</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="

    -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

    border: 20px solid orangered; color:orangered;">
      <div class="row" style="font-size: 81px;padding:28px;font-weight: 900">Grau Superior</div>
    </div>
    <div class="col-md-6 text-center" style="

    -webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

    border: 20px solid orangered;background-color: orangered; color: white;font-weight: 900">{{#if Template.subscriptionsReady}}S{{leadingZeros gs.value}}{{else}}...{{/if}}</div>
    <div class="col-md-1"></div>
  </div>

  {{#if mensaje.value }}
  <div class="row" style="margin-bottom: 40px;"></div>

  <div class="row" style="font-size: 80px">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center" style="



    border: 20px solid limegreen; background-color:limegreen; color:#333;

    ">{{#if Template.subscriptionsReady}}<span style="font-weight: 900">Atenció:</span> {{mensaje.value}}{{else}}...{{/if}}</div>
    <div class="col-md-1"></div>
  </div>

  {{/if}}

  <div class="row" style="margin-bottom: 2000px;"></div>
</template>
