<template name="counter">
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="

    -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

    border: 20px solid mediumslateblue; color:mediumslateblue; font-weight: 900;">GM</div>
    <div class="col-md-6 text-center" style="

    -webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

    border: 20px solid mediumslateblue;background-color: mediumslateblue; color: white;font-weight: 900">M{{leadingZeros gm.value}}</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="

    -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

    border: 20px solid orangered; color:orangered; font-weight: 900">GS</div>
    <div class="col-md-6 text-center" style="

    -webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

    border: 20px solid orangered;background-color: orangered; color: white;font-weight: 900">S{{leadingZeros gs.value}}</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" style="margin-bottom: 20px;"></div>
  <div class="row" style="font-size: 120px">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center" style="

    -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

    border: 20px solid limegreen; color:limegreen;">Altres</div>
    <div class="col-md-6 text-center" style="

    -webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

    border: 20px solid limegreen;background-color: limegreen; color: white;font-weight: 900">A{{leadingZeros altres.value}}</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" style="margin-bottom: 200px;"></div>
</template>